@font-face {
  font-family: oswald;
  src: url("fonts/oswald.ttf") format("truetype"); }

/* line 10, _globals.scss */
html,
body,
ul,
ol,
li,
form,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
  display: block; }

/* line 16, _globals.scss */
ul,
ol {
  list-style: none; }

/* line 29, _globals.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 36, _globals.scss */
select,
input,
textarea,
button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

/* line 43, _globals.scss */
button,
input {
  line-height: normal; }

/* line 50, _globals.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 54, _globals.scss */
label {
  cursor: pointer; }

/* line 58, _globals.scss */
input, select {
  vertical-align: middle;
  _vertical-align: text-bottom; }

/* line 63, _globals.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 64, _globals.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 66, _globals.scss */
button.custom {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  font-size: 1em;
  width: auto; }

/* line 77, _globals.scss */
button.custom::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 82, _globals.scss */
body {
  font: 13px/1.231 sans-serif;
  color: #fff; }

/* line 89, _globals.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 93, _globals.scss */
p {
  line-height: 1.4; }

/* line 98, _globals.scss */
select,
input,
textarea {
  color: #333;
  font-family: sans-serif; }

/* line 104, _globals.scss */
a img {
  border: 0; }
/* line 108, _globals.scss */
a:link, a:visited {
  text-decoration: none;
  color: #ffb135;
  font-weight: bold; }
/* line 114, _globals.scss */
a:hover, a:active {
  text-decoration: underline; }

/* line 2, _structure.scss */
html {
  height: 100%;
  background: #004a86;
  background: -webkit-radial-gradient(center center, circle cover, #0091d5 0%, #0091d5 15%, #004a86 100%);
  background: -moz-radial-gradient(center center, circle cover, #0091d5 0%, #0091d5 15%, #004a86 100%);
  background: -ms-radial-gradient(center center, circle cover, #0091d5 0%, #0091d5 15%, #004a86 100%);
  background: -o-radial-gradient(center center, circle cover, #0091d5 0%, #0091d5 15%, #004a86 100%);
  background: radial-gradient(center center, circle cover, #0091d5 0%, #0091d5 15%, #004a86 100%); }

/* line 14, _structure.scss */
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0 20px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQAgMAAADzfxo+AAAADFBMVEX///////////8AAAD1GyhhAAAABHRSTlMoNhsAX8Wz8wAAAC5JREFUOMtjCMUCGOr///7/fz8qMWQEs1YtWrVKC5UY9dGoj0Z9NOqjUR8NckEAV3eSqNB2GKwAAAAASUVORK5CYII="); }

/* line 22, _structure.scss */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: table;
  table-layout: fixed; }
  /* line 30, _structure.scss */
  .container.intro {
    width: 635px;
    height: auto; }
  /* line 34, _structure.scss */
  .container > * {
    display: table-row; }
  /* line 37, _structure.scss */
  .not-supported .container {
    display: none; }

/* line 42, _structure.scss */
.main-header {
  display: table-cell;
  text-align: center;
  height: 0; }
  /* line 47, _structure.scss */
  .main-header .h-main {
    display: none; }

/* line 54, _structure.scss */
.intro .further-detail {
  height: 0; }

/* line 60, _structure.scss */
.toolbar-container,
.toolbar-bottom-container {
  display: table-row;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 2, _components.scss */
.cow-logo {
  background: url("imgs/sprites1.png") no-repeat -2px -66px;
  position: relative;
  left: 25px;
  height: 20px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  text-indent: -5000px;
  display: inline-block;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0; }
  /* line 15, _components.scss */
  .intro .cow-logo {
    width: 448px;
    height: 388px;
    margin: 66px 0 29px;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

/* line 24, _components.scss */
.h-main {
  font: normal 59px/1 oswald, sans-serif;
  color: white;
  text-shadow: #004A86 0 4px 1px;
  text-align: center; }

/* line 31, _components.scss */
.canvas-view {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  /* line 35, _components.scss */
  .canvas-view .upload-input {
    position: absolute;
    top: -5000px;
    left: -5000px;
    cursor: pointer;
    z-index: 10; }
  /* line 42, _components.scss */
  .canvas-view .lg-button {
    display: none; }
    /* line 44, _components.scss */
    .intro .canvas-view .lg-button {
      display: inline-block; }

/* line 49, _components.scss */
.canvas-cell {
  display: table-cell;
  height: 100%;
  position: relative; }
  /* line 54, _components.scss */
  .intro .canvas-cell {
    height: 139px;
    cursor: auto; }

/* line 59, _components.scss */
.canvas-inner {
  overflow: auto;
  background: white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMzMz0oyR4AAAARSURBVAgdY/jPwIAVYRf9DwB+vw/xbMOy9QAAAABJRU5ErkJggg==");
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35);
  position: relative;
  height: 100%; }
  /* line 66, _components.scss */
  .opera .canvas-inner {
    /*
    	Opera treats the 100% height as the height of the body element, not the
    	table cell. This absolute layout works around that. However, it works
    	because Opera recognises the position:relative on the table cell, which
    	it shouldn't really. Using this fix on all browsers breaks layout in
    	Firefox.
    */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto; }
  /* line 82, _components.scss */
  .intro .canvas-inner {
    overflow: hidden; }

/* line 86, _components.scss */
.sprite-canvas-container {
  position: absolute;
  min-width: 100%;
  min-height: 100%; }
  /* line 91, _components.scss */
  .sprite-canvas-container canvas {
    display: block; }
  /* line 95, _components.scss */
  .sprite-canvas-container .highlight {
    background: rgba(0, 90, 255, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    pointer-events: none;
    border: 1px solid rgba(0, 114, 255, 0.5);
    box-sizing: border-box;
    display: none;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transition-property: border, background;
    -moz-transition-property: border, background;
    -ms-transition-property: border, background;
    -o-transition-property: border, background;
    transition-property: border, background; }
    /* line 110, _components.scss */
    .sprite-canvas-container .highlight.high-vis {
      background-color: rgba(0, 255, 48, 0.25);
      border-color: rgba(0, 255, 51, 0.5); }
  /* line 116, _components.scss */
  .intro .sprite-canvas-container {
    opacity: 0; }

/* line 120, _components.scss */
.select-btn {
  margin: 0 48px 0 0; }

/* line 123, _components.scss */
.start-buttons {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  text-align: center; }

/* line 130, _components.scss */
.drop-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(37, 207, 28, 0.2);
  box-shadow: inset 0 0 18px #175a00;
  display: none;
  pointer-events: none; }
  /* line 141, _components.scss */
  .drag-over .drop-indicator {
    display: block;
    opacity: 1; }

/* line 147, _components.scss */
.lg-button {
  width: 192px;
  border-radius: 100px;
  color: #fff;
  font: normal 29px/1 oswald, sans-serif;
  padding: 14px 20px;
  box-shadow: inset 0 0 6px #ff6c00, 0 3px 6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 0;
  background: -webkit-linear-gradient(top, #ffb95a 0%, #ff6c00 50%, #c73a00 100%);
  background: -moz-linear-gradient(top, #ffb95a 0%, #ff6c00 50%, #c73a00 100%);
  background: -ms-linear-gradient(top, #ffb95a 0%, #ff6c00 50%, #c73a00 100%);
  background: -o-linear-gradient(top, #ffb95a 0%, #ff6c00 50%, #c73a00 100%);
  background: linear-gradient(top, #ffb95a 0%, #ff6c00 50%, #c73a00 100%); }

/* line 160, _components.scss */
.css-output {
  display: block;
  white-space: pre;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  overflow: auto;
  position: relative;
  tab-size: 4; }
  /* line 169, _components.scss */
  .intro .css-output {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden; }
  /* line 176, _components.scss */
  .css-output code {
    font-size: 1.2em;
    line-height: 1; }
  /* line 181, _components.scss */
  .css-output .file-path {
    position: relative;
    display: inline-block; }
    /* line 185, _components.scss */
    .css-output .file-path::before {
      border-bottom: 1px dotted #fff;
      position: absolute;
      left: 0;
      bottom: -3px;
      right: 0;
      content: ""; }
  /* line 194, _components.scss */
  .css-output .file {
    cursor: pointer; }
  /* line 198, _components.scss */
  .css-output input[type='text'] {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    font: normal 12px/1 monospace;
    padding: 3px;
    outline: none; }

/* line 209, _components.scss */
.toolbar {
  overflow: hidden;
  padding: 5px 6px 0;
  position: relative;
  z-index: 1;
  border-style: solid;
  border-width: 1px 0;
  border-color: #e2e2e2 #000 #888;
  color: #333;
  background: -webkit-linear-gradient(top, #d0d0d0, #a7a7a7);
  background: -moz-linear-gradient(top, #d0d0d0, #a7a7a7);
  background: -ms-linear-gradient(top, #d0d0d0, #a7a7a7);
  background: -o-linear-gradient(top, #d0d0d0, #a7a7a7);
  background: linear-gradient(top, #d0d0d0, #a7a7a7); }
  /* line 220, _components.scss */
  .toolbar.top {
    border-radius: 5px 5px 0 0; }
  /* line 224, _components.scss */
  .intro .toolbar {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0; }
  /* line 232, _components.scss */
  .toolbar [role=button] {
    float: left;
    margin: 0 5px 5px 0;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 10px 4px 26px;
    position: relative;
    background: -webkit-linear-gradient(top, #fefefe, #b8b8b8);
    background: -moz-linear-gradient(top, #fefefe, #b8b8b8);
    background: -ms-linear-gradient(top, #fefefe, #b8b8b8);
    background: -o-linear-gradient(top, #fefefe, #b8b8b8);
    background: linear-gradient(top, #fefefe, #b8b8b8); }
    /* line 243, _components.scss */
    .toolbar [role=button]::before {
      content: '';
      width: 16px;
      height: 17px;
      position: absolute;
      top: 4px;
      left: 5px;
      background: url("imgs/sprites1.png") no-repeat; }
    /* line 252, _components.scss */
    .toolbar [role=button].active {
      background: #707070;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.6);
      color: #fff; }
    /* line 257, _components.scss */
    .toolbar [role=button].no-label {
      width: 26px;
      padding: 4px 0;
      text-indent: -5000px; }
    /* line 262, _components.scss */
    .toolbar [role=button].select-sprite::before {
      background-position: -4px -2px; }
    /* line 265, _components.scss */
    .toolbar [role=button].select-bg::before {
      background-position: -50px -3px; }
    /* line 268, _components.scss */
    .toolbar [role=button].open-img::before {
      background-position: -26px -2px; }
    /* line 271, _components.scss */
    .toolbar [role=button].invert-bg::before {
      background-position: -99px -2px; }
    /* line 274, _components.scss */
    .toolbar [role=button].reload-img::before {
      background-position: -75px -2px; }
    /* line 277, _components.scss */
    .toolbar [role=button].percent::before {
      background-position: -121px -2px; }
    /* line 280, _components.scss */
    .toolbar [role=button].bg-size::before {
      background-position: -141px -1px; }
  /* line 284, _components.scss */
  .toolbar .feedback {
    float: left;
    padding: 5px;
    color: #555;
    opacity: 0; }

/* line 292, _components.scss */
.toolbar-group [role=button] {
  margin-right: 0;
  border-radius: 0;
  border-left-width: 0; }
  /* line 297, _components.scss */
  .toolbar-group [role=button]:first-child {
    border-left-width: 1px;
    border-radius: 4px 0 0 4px; }
  /* line 301, _components.scss */
  .toolbar-group [role=button]:last-child {
    margin-right: 5px;
    border-radius: 0 4px 4px 0; }

/* line 307, _components.scss */
.main-footer {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.23); }
  /* line 311, _components.scss */
  .main-footer p {
    float: right;
    padding: 15px 29px 0;
    margin: 0;
    white-space: nowrap; }
    /* line 317, _components.scss */
    .intro .main-footer p {
      padding: 12px 16px 0; }
  /* line 321, _components.scss */
  .main-footer .the-team-logo {
    background: url("imgs/sprites1.png") no-repeat -4px -29px;
    width: 88px;
    height: 17px;
    display: inline-block;
    text-indent: -5000px;
    vertical-align: top;
    margin: -1px 0 0 4px; }
  /* line 330, _components.scss */
  .main-footer ul {
    float: left;
    padding: 16px 30px; }
    /* line 334, _components.scss */
    .intro .main-footer ul {
      padding: 13px 16px; }
  /* line 338, _components.scss */
  .main-footer li {
    display: inline; }
    /* line 342, _components.scss */
    .main-footer li a:link, .main-footer li a:visited {
      font-weight: normal;
      color: #fff;
      float: left;
      padding: 0 10px 0 0;
      margin: 0 10px 0 0;
      border-right: 1px solid #fff; }
    /* line 351, _components.scss */
    .main-footer li:last-child a:link, .main-footer li:last-child a:visited {
      padding: 0;
      margin: 0;
      border: none; }

/* line 359, _components.scss */
.feature-test {
  display: none;
  width: 800px;
  margin: 0 auto;
  text-align: center; }
  /* line 365, _components.scss */
  .not-supported .feature-test {
    display: block; }
  /* line 368, _components.scss */
  .feature-test h1 {
    font: normal 2.5em sans-serif;
    margin: 0;
    padding: 40px 0; }
  /* line 373, _components.scss */
  .feature-test ul {
    display: inline-block;
    *display: inline;
    zoom: 1; }
  /* line 378, _components.scss */
  .feature-test li {
    margin: 10px auto;
    font-size: 1.1em;
    overflow: hidden;
    text-align: left; }
  /* line 384, _components.scss */
  .feature-test p {
    width: 600px;
    margin: 0 auto 20px;
    font-size: 1.1em;
    text-align: left; }
  /* line 391, _components.scss */
  .feature-test .pass, .feature-test .fail {
    float: left;
    width: 50px;
    font-weight: bold;
    color: #5f5; }
  /* line 397, _components.scss */
  .feature-test .fail {
    color: #f55; }

/* line 402, _components.scss */
.intro-copy {
  display: none; }
