// Logo
	.cow-logo {
		background: url('imgs/sprites1.png') no-repeat -2px -66px;
		width: 448px;
		height: 388px;
		margin: 0 auto;
	}
// Headings
	.h-main {
		font: normal 59px/1 oswald, sans-serif;
		color: white;
		text-shadow: #004A86 0 4px 1px;
		text-align: center;
	}
// Canvas
	.canvas-view {
		text-align: center;
		@include user-select(none);

		& .upload-input {
			position: absolute;
			top: -5000px;
			left: -5000px;
			cursor: pointer;
			z-index: 10;
		}
		& .lg-button {
			display: none;
			.intro & {
				display: inline-block;
			}
		}
	}
	.canvas-cell {
		display: table-cell;
		height: 100%;
		position: relative;

		.intro & {
			height: 139px;
			cursor: auto;
		}
	}
	.canvas-inner {
		overflow: auto;
		background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMzMz0oyR4AAAARSURBVAgdY/jPwIAVYRf9DwB+vw/xbMOy9QAAAABJRU5ErkJggg==');
		box-shadow: 0 4px 18px rgba(0,0,0,0.35);
		position: relative;
		height: 100%;

		.opera & {
			/*
				Opera treats the 100% height as the height of the body element, not the
				table cell. This absolute layout works around that. However, it works
				because Opera recognises the position:relative on the table cell, which
				it shouldn't really. Using this fix on all browsers breaks layout in
				Firefox.
			*/
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: auto;
		}

		.intro & {
			overflow: hidden;
		}
	}
	.sprite-canvas-container {
		position: absolute;
		min-width: 100%;
		min-height: 100%;

		& canvas {
			display: block;
		}

		& .highlight {
			background: rgba(0, 90, 255, 0.25);
			position: absolute;
			top: 0;
			left: 0;
			width: 5px;
			height: 5px;
			pointer-events: none;
			border: 1px solid rgba(0, 114, 255, 0.5);
			box-sizing: border-box;
			display: none;

			@include transition(0.5s ease-in-out);
			@include transition-property((border, background));

			&.high-vis {
				background-color: rgba(0, 255, 48, 0.25);
				border-color: rgba(0, 255, 51, 0.5);
			}
		}

		.intro & {
			opacity: 0;
		}
	}
	.select-btn {
		margin: 0 48px 0 0;
	}
	.start-buttons {
		position: absolute;
		top: 39px;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.drop-indicator {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(37, 207, 28, 0.2);
		box-shadow: inset 0 0 18px #175a00;
		display: none;
		pointer-events: none;

		.drag-over & {
			display: block;
			opacity: 1;
		}
	}
// Buttons
	.lg-button {
		width: 192px;
		border-radius: 100px;
		color: #fff;
		font: normal 29px/1 oswald, sans-serif;
		padding: 14px 20px;
		box-shadow: inset 0 0 6px rgba(255, 108, 0, 1), 0 3px 6px rgba(0, 0, 0, 0.7);
		cursor: pointer;
		text-shadow: rgba(0,0,0,0.5) 0 2px 0;

		@include linear-gradient((top, rgba(255,185,90,1) 0%, rgba(255,108,0,1) 50%, rgba(199,58,0,1) 100%));
	}